profiles {
  singularity {
    singularity.enabled = true
    process.executor = 'local'
    process.container = "$projectDir/occufold.sif"
    singularity.runOptions = '--writable-tmpfs'
  }
}

params {
  bed     = null      // path to your CTCF sites file (BED/TSV/CSV)
  region  = null      // e.g. "chr1:100000-500000"
  outdir  = "results"
}
