// Fast scratch for task work dirs
workDir = "/scratch1/$USER/nxf-work"

profiles {
  singularity {
    singularity.enabled     = true
    singularity.autoMounts  = true
    process.executor        = 'local'
    // Make sure this filename matches the .sif at your pipeline root
    process.container       = "${projectDir}/occufold.sif"

    // Bind the pipeline folder and /project so files are visible in the container.
    // Also set PYTHONPATH for dev-mode and a writable Matplotlib config dir.
    singularity.runOptions  = "-B ${projectDir}:${projectDir} -B /project:/project --env PYTHONPATH=${projectDir} --env MPLCONFIGDIR=/tmp/mpl"
  }
}

// Optional resources & echo for debugging
process {
  echo = true
  withName: PREPROCESS {
    cpus   = 2
    memory = '4 GB'
    time   = '1h'
  }
}

// Defaults to avoid warnings
params {
  bed    = null
  region = null
  peaks  = null
  motifs = null
  outdir = "results"
}
